# Data folder available via Kaggle (https://www.kaggle.com/competitions/melting-point/data)
data/

# Ignore catboost info files
catboost_info/

# Ignore Jupyter Notebook 04
notebooks/04-preprocess-data.ipynb

# Ignore test notebook
notebooks/99_test_notebook.ipynb

# Ignore Submissions
submissions/